astroid==2.0.4
atomicwrites==1.2.1
attrs==18.2.0
Django==2.1.1
django-cors-headers==2.4.0
django-filter==2.0.0
django-paypal==0.5.0
djangorestframework==3.8.2
djangorestframework-jsonapi==2.6.0
httplib2==0.11.3
idna==2.7
inflection==0.3.1
isort==4.3.4
mccabe==0.6.1
mock==2.0.0
more-itertools==4.3.0
numpy==1.15.1
oauth2client==4.1.2
pbr==5.1.0
Pillow==5.0.0
pipenv==11.9.0
pluggy==0.8.0
psycopg2==2.7.5
py==1.7.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.4.0
PyForms==0.1.7.3
pylint==2.1.1
pyparsing==2.2.0
pyserial==3.4
pytest==3.9.3
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
rsa==3.4.2
scipy==1.1.0
selenium==3.14.1
six==1.11.0
typed-ast==1.1.0
uritemplate==3.0.0
urllib3==1.24
virtualenv==15.2.0
virtualenv-clone==0.3.0
wrapt==1.10.11
