<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Insert Title Here</title>


  <!-- <link rel="stylesheet" href="style.css"> -->

</head>

<body>
  <h1 id="name">Name</h1>
  <p id="about">About</p>
  <p id="education">Education</p>
  <p id="skills">Skills</p>
  <p id="work">Work</p>
  <p id="contact">Contact</p>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
  $(window).on('load', function(){
     // change the URL to your server URL here
     $.getJSON("http://127.0.0.1:8000/api/person/1/", function (data) {
          $("#name").text(data.data.attributes.name);
          $("#about").text(data.data.attributes.about);
          $("#education").text(data.data.attributes.education);
          $("#skills").text(data.data.attributes.skills);
          // Complete consuming the API data and updating the work and contact sections
          // HINT: look at the above lines, jquery documentation, see what is the object returned
     
     

     });
  });
  </script>
</body>
</html>